<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245040646735-r0rouav9uj97nv2h5k6ir2ocidrrkuka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245040646735-r0rouav9uj97nv2h5k6ir2ocidrrkuka</string>
	<key>API_KEY</key>
	<string>AIzaSyC_-mT_k6HLTJC1FpNHcDWwU1eu8lsC4rM</string>
	<key>GCM_SENDER_ID</key>
	<string>245040646735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polaris.alpha.main</string>
	<key>PROJECT_ID</key>
	<string>polaris-82e26</string>
	<key>STORAGE_BUCKET</key>
	<string>polaris-82e26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245040646735:ios:c7eaabcc5d80b83ee4783a</string>
</dict>
</plist>